<template>
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-inline-block">
                    <router-link :to="{ name: 'Home' }" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <router-link :to="{ name: 'Create' }" class="nav-link">Create Question</router-link>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <router-link :to="{ name: 'Quiz' }" class="nav-link">Quiz</router-link>
                </li>
            </ul>
        </nav>
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
    <!-- <div id="app" class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link :to="{ name: 'Home' }" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ name: 'Create' }" class="nav-link">Create</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ name: 'Posts' }" class="nav-link">Posts</router-link>
                </li>
            </ul>
        </nav>
        <br>
        <transition name="fade">
            <router-view></router-view>        
        </transition>
    </div> -->
</template>

<script>
export default {

}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
body:not(.sidebar-mini-md) .main-header,
body:not(.sidebar-mini-md) .content-wrapper {
    margin-left: 0 !important;
}
</style>