<template>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Quiz</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body table-responsive p-0" style="height: 540px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="">#</th>
                                        <th scope="">Question</th>
                                        <th scope="">Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, key) in quiz" :key="key">
                                        <td>{{ key + 1 }}</td>
                                        <td>{{ item.question }}</td>
                                        <td>60 seconds</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import axios from 'axios'

export default {
    data() {
        return {
            countTotalEmpty: 0,
            quiz: [],
            submitUrl: process.env.VUE_APP_AJAX_URL + '/quiz/submit',
            getQuizUrl: process.env.VUE_APP_AJAX_URL + '/quiz'
        };
    },
    methods: {
        submitQuiz() {
            console.log(this.quiz);
            this.validate();
            if( this.countTotalEmpty > 0 ) {
                this.isComplete = false;
                this.focusOnErrorFirstField();
            } else {
                this.isComplete = true;
                /* axios.post(this.submitUrl, this.quiz).then(res => {
                    console.log(res.status);
                    if( res.status == 201 ) {
                        this.resetForm(res.data);
                    }
                }); */
            }
        },
        backToHome() {
            window.location = '/';
        },
        getAllQuiz() {
            axios.get(this.getQuizUrl).then(res => {
                if( res.status == 200 ) {
                    this.quiz = res.data;
                }
            });
        },
        changeAnswer(event) {
            this.quiz.answer = parseInt(event.target.value);
        },
        resetForm() {
            this.quiz.question = null;
            this.quiz.attachment = null;
            this.quiz.answer = null;
            this.quiz.tags = null;
            this.quiz.choices = [];
        },
        validate() {
            var elements = document.getElementsByClassName("form-control");
            for(var i = 0; i < elements.length; i++) {
                if( elements[i].value == '' ) {
                    elements[i].classList.add("is-invalid");
                    this.countTotalEmpty++;
                } else {
                    elements[i].classList.remove("is-invalid");
                    this.countTotalEmpty--;
                }
            }
        },
        validateEmptyField(event) {
            var element = event.path[0];
            if( element.value.length > 0 ) {
                element.classList.remove("is-invalid");
            } else {
                element.classList.add("is-invalid");
            }
        },
        focusOnErrorFirstField() {
            document.getElementsByClassName("is-invalid")[0].focus();
        },
        checkAnswers() {
            var choices = this.quiz.choices;
            var count = 0;
            for(var i = 0; i < choices.length; i++) {
                if( !choices[i].answer ) {
                    count++;
                }
            }

            return count;
        }
    },
    mounted() {
        this.getAllQuiz()
    },
    computed: {
    }
};
</script>

<style scoped>
.btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
</style>