<template>
    <div class="hello">
        <h1>Your IP is {{ ip }}</h1>
        <input type="text" v-model="input.firstname" placeholder="First Name" />
        <input type="text" v-model="input.lastname" placeholder="Last Name" />
        <button v-on:click="sendData()">Send</button>
        <br />
        <br />
        <textarea v-model="this.response.data"></textarea>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: 'HelloWorld',
        data () {
            return {
                ip: "",
                input: {
                    firstname: "",
                    lastname: ""
                },
                response: ""
            }
        },
        mounted() {
            // using axios library
            axios({ method: "GET", "url": "https://httpbin.org/ip" }).then(result => {
                this.ip = result.data.origin;
            }, error => {
                console.error(error);
            });

            // if you're preferable using $http service from Vue Resource,
            // uncomment this script below and comment the axios script instead
            // ------------------------------------------------------------------            
            // this.$http.get("https://httpbin.org/ip").then(result => {
            //     this.ip = result.body.origin;
            // }, error => {
            //     console.error(error);
            // });            
        },
        methods: {
            // using axios library
            sendData() {
                axios({ method: "POST", "url": "https://httpbin.org/post", "data": this.input, "headers": { "content-type": "application/json" } }).then(result => {
                    this.response = result.data;
                }, error => {
                    console.error(error);
                });
            }

            // if you're preferable using $http service from Vue Resource,
            // uncomment this script below and comment the axios script instead
            // ------------------------------------------------------------------            
            // sendData() {
            //     this.$http.post("https://httpbin.org/post", this.input, { headers: { "content-type": "application/json" } }).then(result => {
            //         this.response = result.data;
            //     }, error => {
            //         console.error(error);
            //     });
            // }
        }
    }
</script>

<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    textarea {
        width: 600px;
        height: 200px;
    }
</style>