<template>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Create Question</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <form v-on:submit.prevent="createQuestion">
                                <div class="card-body">
                                    <div class="callout callout-danger" v-if="!isComplete">
                                        <p>Mandatory fields with (*) must be filled in.</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="question">Question *</label>
                                        <textarea class="form-control" id="question" v-model="question.question" @keyup="validateEmptyField" rows="3" placeholder="Type your question here"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="attachment">Attachment (Optional)</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <label class="custom-file-label" for="attachment">Choose file</label>
                                                <input @change="handleImage" type="file" class="custom-file-input" id="attachment" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="choices">Choices *</label>
                                        <div class="input-group mb-3" v-for="(choice, key) in question.choices" :key="key">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ choice.option }}</span>
                                            </div>
                                            <input type="hidden" v-model="choice.option" :id="'option_' + key">
                                            <input type="text" v-model="choice.answer" @keyup="validateEmptyField" :id="'answer_option_' + key" class="form-control" placeholder="Answer option">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="answer">Right Answer *</label>
                                        <select class="form-control" id="answer" v-model="question.answer" @change="validateEmptyField">
                                            <option value="">- Choose -</option>
                                            <option v-for="(choice, key) in choices" 
                                                :value="choice" :key="key"
                                                :selected="question.answer === choice">
                                                {{ choice }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="tags">Tags *</label>
                                        <input type="text" id="tags" v-model="question.tags" @keyup="validateEmptyField" class="form-control" placeholder="Example: science, mathemathic">
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="offset-lg-6 col-lg-6">
                                            <div class="btn-group w-100">
                                                <button type="button" @click="backToHome" class="btn btn-default">Cancel</button>
                                                <button type="submit" id="submitNext" class="btn btn-default">Submit &amp; Create New</button>
                                                <button type="submit" id="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios'
// import $ from 'jquery'

export default {
    data() {
        return {
            countTotalEmpty: 0,
            isComplete: true,
            choices: ['A','B','C','D','E'],
            question: {
                question: '',
                attachment: '',
                answer: '',
                tags: '',
                choices: []
            },
            submitUrl: process.env.VUE_APP_AJAX_URL + '/questions/create',
        };
    },
    methods: {
        createQuestion() {
            var elements = document.getElementsByClassName("form-control");
            var count = 0;
            for(var i = 0; i < elements.length; i++) {
                if( elements[i].value == '' ) {
                    elements[i].classList.add("is-invalid");
                    count++;
                } else {
                    elements[i].classList.remove("is-invalid");
                }
            }

            if( count > 0 ) {
                this.isComplete = false;
                this.focusOnErrorFirstField();
            } else {
                this.isComplete = true;
                axios.post(this.submitUrl, this.question).then(res => {
                    this.notification(res.status, res.message);
                    if( res.status == 201 ) {
                        this.resetForm();
                    }
                });
            }
        },
        backToHome() {
            window.location = '/';
        },
        addChoice() {
            var _question = this.question;

            for(var i = 0; i < 5; i++) {
                var _option = this.choices[i];
                _question.choices.push({option: _option, answer: null});
            }
        },
        removeChoice(event) {
            this.choicesList.splice(event.target);
        },
        changeAnswer(event) {
            this.question.answer = parseInt(event.target.value);
        },
        handleImage(e) {
            const selectedImage = e.target.files[0];
            if( typeof selectedImage != "undefined" ) {
                this.createBase64Image(selectedImage);
            }
        },
        createBase64Image(fileObject) {
            const reader = new FileReader();

            reader.onload = (e) => {
                this.question.attachment = e.target.result;
            }
            reader.onerror = function(error) {
                alert(error);
            };
            reader.readAsDataURL(fileObject);
        },
        resetForm() {
            this.question.question = null;
            this.question.attachment = null;
            this.question.answer = '';
            this.question.tags = null;
            this.question.choices = [];
            this.addChoice();
        },
        validate() {
            var elements = document.getElementsByClassName("form-control");
            var count = 0;
            for(var i = 0; i < elements.length; i++) {
                if( elements[i].value == '' ) {
                    elements[i].classList.add("is-invalid");
                    count++;
                } else {
                    elements[i].classList.remove("is-invalid");
                }
            }
            this.countTotalEmpty = count;
        },
        validateEmptyField(event) {
            var element = event.path[0];
            if( element.value.length > 0 ) {
                element.classList.remove("is-invalid");
            } else {
                element.classList.add("is-invalid");
            }
        },
        focusOnErrorFirstField() {
            document.getElementsByClassName("is-invalid")[0].focus();
        },
        checkAnswers() {
            var choices = this.question.choices;
            var count = 0;
            for(var i = 0; i < choices.length; i++) {
                if( !choices[i].answer ) {
                    count++;
                }
            }

            return count;
        },
        notification(status, message) {
            var Toast = this.$swal.mixin({
                toast: true,
                showConfirmButton: false,
                timer: 3000
            });

            var icon = status == 201 ? 'success' : 'error';

            Toast.fire({
                icon: icon,
                title: message,
                position: 'bottomLeft'
            })
        }
    },
    mounted() {
        this.addChoice()
    },
    computed: {
        isDisabled() {
            var _question = this.question;

            return _question.questionNo == '' && _question.question == '' ?
                true : false;
                
            // if( _question.questionType == 1 ) {
            //     if( this.isEmptyChoices() || this.countEmptyChoiceAnswer() > 0 ) {
            //         return true;
            //     }
            // }
        },
        countEmptyChoiceAnswer() {
            var _question = this.question;
            var counter = 0;

            for( var i = 0; i < _question.length; i++ ) {
                if( _question[i].choiceAnswer == '' ) {
                    counter++;
                }
            }

            return counter;
        },
        isEmptyChoices() {
            return this.question.choices.length == 0 ? true : false;
        }
    }
};
</script>

<style scoped>
.btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
</style>