<template>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" width="200px">Option</th>
                <th scope="col">Answer</th>
                <th scope="col" width="100px"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(choice, key) in question.choices" :key="key">
                <th scope="row">{{ key + 1 }}</th>
                <td>
                    <select class="form-control" v-model="choices[0]">
                        <option v-for="(item, key) in choices" 
                            :value="item" :key="key">
                            {{ item }}
                        </option>
                    </select>
                </td>
                <td><input type="text" class="form-control col-md-9" v-model="choice.choiceAnswer"></td>
                <td><button @click="question.choices.splice(key, 1)">&times;</button></td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    data() {
        return {
            choices: ['A','B','C','D','E']
        }
    }
}
</script>