<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Create A Question</h1>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="createQuestion">
                    <div class="form-group">
                        <label>Subject</label>
                        <select class="form-control" v-model="question.subjectId" @change="changeSubject">
                            <option v-for="(subject, key) in subjects" 
                                :value="subject.id" :key="key"
                                :selected="question.subjectId === subject.id">
                                {{ subject.subjectName }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Question Status</label>
                        <select class="form-control" v-model="question.questionStatus" @change="changeStatus">
                            <option v-for="stat in status" 
                                :value="stat.id" :key="stat.name"
                                :selected="question.questionStatus === stat.id">
                                {{ stat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Question Type</label>
                        <select class="form-control" v-model="question.questionType" @change="changeType">
                            <option v-for="type in types" 
                                :value="type.id" :key="type.name"
                                :selected="question.questionType === type.id">
                                {{ type.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Question No.</label>
                        <input type="number" class="form-control" v-model="question.questionNo" />
                    </div>
                    <div class="form-group">
                        <label>Question</label>
                        <input type="text" class="form-control" v-model="question.question" />
                    </div>
                    <div class="form-group">
                        <label>Image (Optional)</label>
                        <input @change="handleImage" class="form-control custom-input" type="file" accept="image/*">
                    </div>
                    <div class="form-group" v-if="question.questionType == 1">
                        <button type="button" @click="addChoice">Add Choice</button>
                        <br>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" width="150px">Choice</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Answer</th>
                                    <th scope="col" width="60px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(choice, key) in question.choices" :key="key">
                                    <th scope="row">{{ key + 1 }}</th>
                                    <td>
                                        <select class="form-control" v-model="choice.choiceOption">
                                            <option v-for="(item, index) in choices" 
                                                :value="item" :key="index"
                                                :selected="choice.choiceOption === item">
                                                {{ item }}
                                            </option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control col-md-9" v-model="choice.choiceAnswer"></td>
                                    <td>
                                        <select class="form-control" v-model="choice.rightChoice">
                                            <option v-for="(item, index) in rightChoice" 
                                                :value="item.id" :key="index"
                                                :selected="choice.rightChoice === item.id">
                                                {{ item.name }}
                                            </option>
                                        </select>
                                    </td>
                                    <td><button type="button" @click="question.choices.splice(key, 1)">&times;</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" :disabled="isDisabled" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'

export default {
    data() {
        return {
            status: [
                {"id":1,"name":"Active"},
                {"id":2,"name":"Inactive"}
            ],
            types: [
                {"id":1,"name":"Multiple Choice"},
                {"id":2,"name":"Essay"}
            ],
            choices: ['A','B','C','D','E'],
            rightChoice: [
                {"id":0, "name": "FALSE"},
                {"id":1, "name": "TRUE"}
            ],
            subjects: [],
            question: {
                subjectId: '',
                questionNo: '',
                question: '',
                questionType: 1,
                questionStatus: 1,
                questionImg: '',
                choices: []
            },
            submitUrl: process.env.VUE_APP_AJAX_URL + '/questions',
            subjectListUrl: process.env.VUE_APP_AJAX_URL + '/subjects'
        };
    },
    mounted() {
        axios.get(this.subjectListUrl).then(res => {
            this.subjects = res.data;
            this.question.subjectId = this.subjects[0].id;
        });
    },
    methods: {
        createQuestion() {
            axios.post(this.submitUrl, this.question).then(res => {
                console.log(res.status);
                if( res.status == 201 ) {
                    this.resetForm(res.data);
                }
            });
        },
        changeSubject(event) {
            this.question.subjectId = parseInt(event.target.value);
        },
        changeType(event) {
            var _data = this.question;
            if( _data.questionType == 2 ) {
                _data.choices = [];
            }
            _data.questionType = parseInt(event.target.value);
        },
        changeStatus(event) {
            this.question.questionStatus = parseInt(event.target.value);
        },
        addChoice() {
            var _question = this.question;
            if( _question.choices.length < 5 ) {
                _question.choices.push({choiceOption: 'A', choiceAnswer: '', rightChoice: 0});
            }
        },
        removeChoice(event) {
            this.choicesList.splice(event.target);
        },
        handleImage(e) {
            const selectedImage = e.target.files[0]; // get first file
            this.createBase64Image(selectedImage);
        },
        createBase64Image(fileObject) {
            const reader = new FileReader();

            reader.onload = (e) => {
                this.question.questionImg = e.target.result;
            }
            reader.onerror = function(error) {
                alert(error);
            };
            reader.readAsDataURL(fileObject);
        },
        resetForm(data) {
            this.question.subjectId = data.subjectId;
            this.question.questionNo = '';
            this.question.question = '';
            this.question.questionType = data.questionType;
            this.question.questionStatus = data.questionStatus;
            this.question.choices = [];
        }
    },
    computed: {
        isDisabled() {
            var _question = this.question;

            return _question.questionNo == '' && _question.question == '' ?
                true : false;
                
            // if( _question.questionType == 1 ) {
            //     if( this.isEmptyChoices() || this.countEmptyChoiceAnswer() > 0 ) {
            //         return true;
            //     }
            // }
        },
        countEmptyChoiceAnswer() {
            var _question = this.question;
            var counter = 0;

            for( var i = 0; i < _question.length; i++ ) {
                if( _question[i].choiceAnswer == '' ) {
                    counter++;
                }
            }

            return counter;
        },
        isEmptyChoices() {
            return this.question.choices.length == 0 ? true : false;
        }
    }
};
</script>

<style scoped>
.btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
</style>