<template>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Click <router-link :to="{ name: 'Create' }" class="nav-link">here</router-link> to create a question.</h1>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        
    };
</script>
