<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Base64 example</div>
                <div class="card-body">
                    <input @change="handleImage" class="custom-input" type="file" accept="image/*">
                </div>
            </div>
            <br>
            <div class="card card-default">
                <div class="card-header">Server Image</div>
                <div class="card-body">
                    <img style="" :src="image" alt="" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'home',
    data() {
        return {
            image: ''
        }
    },
    methods: {
        handleImage(e) {
            const selectedImage = e.target.files[0]; // get first file
            this.createBase64Image(selectedImage);
        },
        createBase64Image(fileObject) {
            const reader = new FileReader();

            reader.onload = (e) => {
                this.image = e.target.result;
                //this.uploadImage();
            }
            reader.onerror = function(error) {
                alert(error);
            };
            reader.readAsDataURL(fileObject);
            // reader.readAsBinaryString(fileObject);
        }
    }
}
</script>