<template>
    <div id="login">
        <h3 class="text-center text-white">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form v-on:submit.prevent="login">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br />
                                <input type="text" v-model="login.username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br />
                                <input type="text" v-model="login.password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <button type="submit" :disabled="isDisabled" class="btn btn-info btn-md">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>