<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Subjects List</h1>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" width="150px">Subject Name</th>
                            <th scope="col" width="100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(subject, key) in subjects" :key="key">
                            <th scope="row">{{ key + 1 }}</th>
                            <td>{{ subject.subjectName }}</td>
                            <td>
                                <a v-bind:href="/subjects/{{ subject.id }}">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            subjects: [],
        }
    },
    mounted() {
        let getSubjectUrl = process.env.VUE_APP_AJAX_URL + '/subjects';
        axios.get(getSubjectUrl).then(res => {
            console.log(res);
            // this.subjects = res.data;
        });
    },
    computed() {
    }
}
</script>

<style>

</style>