<template>
    <div id="secure">
        <h1>Secure Area</h1>
        <p>This is a secure area</p>
    </div>
</template>

<script>
export default {
    name: 'Secure',
    data() {
        return {};
    }
}
</script>

<style scoped>
    #secure {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        padding: 20px;
        margin-top: 10px;
    }
</style>